In [1]:
#Importing data from a flat file (.csv)

In [11]:
import pandas as pd
import numpy as np
unicorns=pd.read_csv("Unicorn_Companies.csv",index_col=0)

In [3]:
print(unicorns.head())

           Valuation ($B) Date Joined        Country           City  \
Company
Bytedance            $140    4/7/2017          China        Beijing
SpaceX             $100.3   12/1/2012  United States      Hawthorne
Stripe                $95   1/23/2014  United States  San Francisco
Klarna              $45.6  12/12/2011         Sweden      Stockholm
Epic Games            $42  10/26/2018  United States           Cary

                           Industry  \
Company
Bytedance   Artificial intelligence
SpaceX                        Other
Stripe                      Fintech
Klarna                      Fintech
Epic Games                    Other

                                            Select Inverstors Founded Year  \
Company
Bytedance   Sequoia Capital China, SIG Asia Investments, S...         2012
SpaceX      Founders Fund, Draper Fisher Jurvetson, Rothen...         2002
Stripe            Khosla Ventures, LowercaseCapital, capitalG         2010
Klarna      Institutional Venture Partners, Sequoia Capita...         2005
Epic Games              Tencent Holdings, KKR, Smash Ventures         1991

           Total Raised Financial Stage Investors Count Deal Terms  \
Company
Bytedance        $7.44B             IPO              28          8
SpaceX          $6.874B            None              29         12
Stripe          $2.901B           Asset              39         12
Klarna          $3.472B        Acquired              56         13
Epic Games      $4.377B        Acquired              25          5

           Portfolio Exits
Company
Bytedance                5
SpaceX                None
Stripe                   1
Klarna                   1
Epic Games               2

In [4]:
unicorns.shape()

TypeError: 'tuple' object is not callable

In [5]:
print(unicorns.shape)

(1037, 12)

In [6]:
#Importing data from a flat file (.csv) Germany Car Dataset

In [7]:
GermanyCars=pd.read_csv("autoscout24-germany-car.csv",index_col=0)

In [8]:
#Checking the top rows of the data to understand
print(GermanyCars.head())

               make   model      fuel    gear offerType  price     hp  year
mileage
235000          BMW     316    Diesel  Manual      Used   6800  116.0  2011
92800    Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
149300         SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
96200       Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
156000      Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

In [9]:
# Checking the columns and rows of the data
print(GermanyCars.shape)

(46405, 8)

In [10]:
# Counting missing values
missing_values_count=GermanyCars.isnull().sum()
print(missing_values_count[0:7])

make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
dtype: int64

In [12]:
#Dropping rows where Data is missing 
GermanyCarsDR=GermanyCars.dropna()
print(GermanyCars.shape,droprows.shape)

NameError: name 'droprows' is not defined

In [13]:
GermanyCarsDR=GermanyCars.dropna()
print(GermanyCars.shape,GermanyCarsDR.shape)

(46405, 8) (46071, 8)

In [14]:
GermanyCars_drop_duplicates=GermanyCarsDR.drop_duplicates()
print(GermanyCarsDR.shape,GermanyCars_drop_duplicates)

(46071, 8)                make   model               fuel    gear       offerType  price  \
mileage
235000          BMW     316             Diesel  Manual            Used   6800
92800    Volkswagen    Golf           Gasoline  Manual            Used   6877
149300         SEAT    Exeo           Gasoline  Manual            Used   6900
96200       Renault  Megane           Gasoline  Manual            Used   6950
156000      Peugeot     308           Gasoline  Manual            Used   6950
...             ...     ...                ...     ...             ...    ...
10          Citroen      C1           Gasoline  Manual  Pre-registered  12340
99             Fiat     500  Electric/Gasoline  Manual  Pre-registered  12490
550            Fiat     500  Electric/Gasoline  Manual   Demonstration  12805
837            Fiat   Panda  Electric/Gasoline  Manual   Demonstration  12805
1500          Skoda   Fabia           Gasoline  Manual   Demonstration  12980

            hp  year
mileage
235000   116.0  2011
92800    122.0  2011
149300   160.0  2011
96200    110.0  2011
156000   156.0  2011
...        ...   ...
10        72.0  2021
99        71.0  2021
550       69.0  2021
837       69.0  2021
1500      60.0  2021

[41295 rows x 8 columns]

In [15]:
print(GermanyCars_drop_duplicates.describe())

              price            hp          year
count  4.129500e+04  41295.000000  41295.000000
mean   1.686909e+04    135.835307   2015.903305
std    1.989230e+04     76.039887      3.122089
min    1.100000e+03      1.000000   2011.000000
25%    7.500000e+03     90.000000   2013.000000
50%    1.125000e+04    120.000000   2016.000000
75%    1.995000e+04    150.000000   2019.000000
max    1.199900e+06    850.000000   2021.000000

In [16]:
print(GermanyCars_drop_duplicates.head())

               make   model      fuel    gear offerType  price     hp  year
mileage
235000          BMW     316    Diesel  Manual      Used   6800  116.0  2011
92800    Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
149300         SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
96200       Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
156000      Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

In [17]:
print(GermanyCars_drop_duplicates.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41295 entries, 235000 to 1500
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   make       41295 non-null  object
 1   model      41295 non-null  object
 2   fuel       41295 non-null  object
 3   gear       41295 non-null  object
 4   offerType  41295 non-null  object
 5   price      41295 non-null  int64
 6   hp         41295 non-null  float64
 7   year       41295 non-null  int64
dtypes: float64(1), int64(2), object(5)
memory usage: 2.8+ MB
None

In [20]:
print(GermanyCars_drop_duplicates.head())

               make   model      fuel    gear offerType  price     hp  year
mileage
235000          BMW     316    Diesel  Manual      Used   6800  116.0  2011
92800    Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
149300         SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
96200       Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
156000      Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

In [21]:
GermanyCars_drop_duplicates.groupby(['make','model','mileage'])

In [22]:
GermanyCars_drop_duplicates.groupby(['make','model','mileage']).mean(GermanyCars_drop_duplicates["price"])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [23]:
GermanyCars_drop_duplicates.groupby(['make','model','mileage']).mean()

                         price     hp    year
make   model  mileage
Abarth 500    5        24480.0  179.0  2020.0
              10       27545.5  169.5  2020.0
              2990     24980.0  165.0  2021.0
              21500    11850.0  160.0  2015.0
              33000    12990.0  140.0  2016.0
...                        ...    ...     ...
smart  forTwo 162000    3590.0   71.0  2012.0
              165000    3990.0   54.0  2011.0
              171000    2300.0   61.0  2011.0
              177500    3499.0   84.0  2013.0
              245000    3999.0   54.0  2012.0

[36435 rows x 3 columns]

In [25]:
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
#Sorting and SUbsetting the DF
GermanyCars_drop_duplicates(["make","price"],ascending=[True,False])

TypeError: 'DataFrame' object is not callable

In [27]:
GermanyCars_drop_duplicates(["make","price"])

TypeError: 'DataFrame' object is not callable

In [28]:
GermanyCars_drop_duplicates.sort_values(["make","price"],ascending=[True,False])

,make,model,fuel,gear,offerType,price,hp,year
mileage,,,,,,,,
10,Abarth,500,Gasoline,Manual,Used,35301,179.0,2021
99,Abarth,695,Gasoline,Manual,Pre-registered,30990,179.0,2021
5,Abarth,595C,Gasoline,Automatic,Pre-registered,29990,165.0,2021
0,Abarth,595C,Gasoline,Automatic,Pre-registered,27790,179.0,2020
0,Abarth,595C,Gasoline,Manual,Demonstration,27290,179.0,2021
...,...,...,...,...,...,...,...,...
159468,smart,forTwo,Gasoline,Automatic,Used,2990,61.0,2011
148000,smart,forTwo,Gasoline,Semi-automatic,Used,2940,61.0,2011
136000,smart,forTwo,Diesel,Manual,Used,2500,54.0,2013
171000,smart,forTwo,Gasoline,Manual,Used,2300,61.0,2011
140000,smart,forTwo,Diesel,Manual,Used,1500,54.0,2014

In [29]:
GermanyCars_drop_duplicates.sort_values(["make","mileage,""price"],ascending=[True,False,False])

ValueError: Length of ascending (3) != length of by (2)

In [30]:
GermanyCars_drop_duplicates.sort_values(["mileage","make"],ascending[False,True])

NameError: name 'ascending' is not defined

In [31]:
GermanyCars_drop_duplicates.sort_values(["mileage"],ascending[False])

NameError: name 'ascending' is not defined

In [32]:
GermanyCars_drop_duplicates.sort_values(["mileage"])

,make,model,fuel,gear,offerType,price,hp,year
mileage,,,,,,,,
0,Hyundai,Ioniq,Electric/Gasoline,Automatic,Pre-registered,24990,141.0,2021
0,Ford,Kuga,Gasoline,Manual,Pre-registered,27900,150.0,2020
0,Land,Rover Discovery,Diesel,Automatic,Demonstration,79999,300.0,2021
0,Fiat,500,Gasoline,Manual,Pre-registered,13790,71.0,2021
0,Fiat,500,Gasoline,Manual,Pre-registered,13900,71.0,2021
...,...,...,...,...,...,...,...,...
598744,Mercedes-Benz,Sprinter,Diesel,Manual,Used,13078,163.0,2015
599900,Ford,Transit,Diesel,Manual,Used,5990,116.0,2012
620000,Mercedes-Benz,Vito,Diesel,Manual,Used,6500,163.0,2014
699000,Mercedes-Benz,Sprinter,Diesel,Manual,Used,3990,163.0,2011
1111111,Opel,Karl,Gasoline,Manual,Demonstration,10490,73.0,2019

In [38]:
GermanyCars_drop_duplicates["mileage"]

KeyError: 'mileage'

In [39]:
GermanCars=pd.read_csv("autoscout24-germany-car.csv")

In [40]:
#Checking the top rows of the data to understand
print(GermanCars.head())

   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

In [41]:
GermanCarsDR=GermanCars.dropna()
print(GermanCars.shape,GermanCarsDR.shape)

(46405, 9) (46071, 9)

In [42]:
GermanCars1=GermanCarsDR.drop_duplicates() #Dropping Duplicates
print(GermanCarsDR.shape,GermanCars1)

(46071, 9)        mileage        make   model               fuel    gear       offerType  \
0       235000         BMW     316             Diesel  Manual            Used
1        92800  Volkswagen    Golf           Gasoline  Manual            Used
2       149300        SEAT    Exeo           Gasoline  Manual            Used
3        96200     Renault  Megane           Gasoline  Manual            Used
4       156000     Peugeot     308           Gasoline  Manual            Used
...        ...         ...     ...                ...     ...             ...
46394       10     Citroen      C1           Gasoline  Manual  Pre-registered
46396       99        Fiat     500  Electric/Gasoline  Manual  Pre-registered
46397      550        Fiat     500  Electric/Gasoline  Manual   Demonstration
46398      837        Fiat   Panda  Electric/Gasoline  Manual   Demonstration
46399     1500       Skoda   Fabia           Gasoline  Manual   Demonstration

       price     hp  year
0       6800  116.0  2011
1       6877  122.0  2011
2       6900  160.0  2011
3       6950  110.0  2011
4       6950  156.0  2011
...      ...    ...   ...
46394  12340   72.0  2021
46396  12490   71.0  2021
46397  12805   69.0  2021
46398  12805   69.0  2021
46399  12980   60.0  2021

[43947 rows x 9 columns]

In [43]:
print(GermanCars1.info)

<bound method DataFrame.info of        mileage        make   model               fuel    gear       offerType  \
0       235000         BMW     316             Diesel  Manual            Used
1        92800  Volkswagen    Golf           Gasoline  Manual            Used
2       149300        SEAT    Exeo           Gasoline  Manual            Used
3        96200     Renault  Megane           Gasoline  Manual            Used
4       156000     Peugeot     308           Gasoline  Manual            Used
...        ...         ...     ...                ...     ...             ...
46394       10     Citroen      C1           Gasoline  Manual  Pre-registered
46396       99        Fiat     500  Electric/Gasoline  Manual  Pre-registered
46397      550        Fiat     500  Electric/Gasoline  Manual   Demonstration
46398      837        Fiat   Panda  Electric/Gasoline  Manual   Demonstration
46399     1500       Skoda   Fabia           Gasoline  Manual   Demonstration

       price     hp  year
0       6800  116.0  2011
1       6877  122.0  2011
2       6900  160.0  2011
3       6950  110.0  2011
4       6950  156.0  2011
...      ...    ...   ...
46394  12340   72.0  2021
46396  12490   71.0  2021
46397  12805   69.0  2021
46398  12805   69.0  2021
46399  12980   60.0  2021

[43947 rows x 9 columns]>

In [44]:
GermanCars1(["mileage"])

TypeError: 'DataFrame' object is not callable

In [45]:
GermanCars1["mileage"]

0        235000
1         92800
2        149300
3         96200
4        156000
          ...
46394        10
46396        99
46397       550
46398       837
46399      1500
Name: mileage, Length: 43947, dtype: int64

In [47]:
GermanCars2=GermanCars1[["year","make","model","fuel","gear","offerType","price","hp","mileage"]] #Swapping the year and mileage columns

In [48]:
print(GermanCars2.head())

   year        make   model      fuel    gear offerType  price     hp  mileage
0  2011         BMW     316    Diesel  Manual      Used   6800  116.0   235000
1  2011  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0    92800
2  2011        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0   149300
3  2011     Renault  Megane  Gasoline  Manual      Used   6950  110.0    96200
4  2011     Peugeot     308  Gasoline  Manual      Used   6950  156.0   156000

In [49]:
GermanCars2.sort_values(["make","mileage"],ascending=[True,False])

,year,make,model,fuel,gear,offerType,price,hp,mileage
14602,2012,Abarth,Punto EVO,Gasoline,Manual,Used,6500,163.0,168000
35699,2012,Abarth,500,Gasoline,Manual,Used,9997,135.0,126949
35072,2012,Abarth,500,Gasoline,Manual,Used,8400,135.0,125455
33891,2011,Abarth,Grande Punto,-/- (Fuel),Manual,Used,5990,155.0,99300
10171,2014,Abarth,595,Gasoline,Manual,Used,12490,160.0,84510
...,...,...,...,...,...,...,...,...,...
9419,2019,smart,forFour,Gasoline,Automatic,Used,14480,90.0,2311
44396,2020,smart,forFour,Electric,Automatic,Employee's car,12990,82.0,2000
13658,2019,smart,forFour,Gasoline,Manual,Used,10970,71.0,1513
9064,2021,smart,forTwo,Electric,Automatic,Demonstration,20299,56.0,10
9068,2021,smart,forTwo,Electric,Automatic,Pre-registered,21877,56.0,10

In [50]:
GermanCars2[GermanCars2["mileage"]>50000] #Subsetting rows where mileage is >50k

,year,make,model,fuel,gear,offerType,price,hp,mileage
0,2011,BMW,316,Diesel,Manual,Used,6800,116.0,235000
1,2011,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,92800
2,2011,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,149300
3,2011,Renault,Megane,Gasoline,Manual,Used,6950,110.0,96200
4,2011,Peugeot,308,Gasoline,Manual,Used,6950,156.0,156000
...,...,...,...,...,...,...,...,...,...
44054,2019,SEAT,Ateca,Diesel,Automatic,Used,29850,190.0,58779
44064,2019,Toyota,RAV 4,Gasoline,Automatic,Used,30500,218.0,56605
44082,2019,Opel,Corsa,Gasoline,Manual,Used,9100,101.0,110000
44087,2019,Skoda,Fabia,Gasoline,Manual,Used,9390,75.0,79000
44794,2020,Ford,Tourneo Courier,Diesel,Manual,Used,15490,101.0,91900

In [51]:
print(GermanCars2.head())

   year        make   model      fuel    gear offerType  price     hp  mileage
0  2011         BMW     316    Diesel  Manual      Used   6800  116.0   235000
1  2011  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0    92800
2  2011        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0   149300
3  2011     Renault  Megane  Gasoline  Manual      Used   6950  110.0    96200
4  2011     Peugeot     308  Gasoline  Manual      Used   6950  156.0   156000

In [52]:
print(GermanCars2.shape)

(43947, 9)

In [53]:
print(GermanCars["mileage"]).mean()

0        235000
1         92800
2        149300
3         96200
4        156000
          ...
46400        99
46401        99
46402        99
46403        99
46404        99
Name: mileage, Length: 46405, dtype: int64

AttributeError: 'NoneType' object has no attribute 'mean'

In [54]:
print(GermanCars["mileage"].mean())

71177.86410947096

In [55]:
GermanCars2["make"].value_counts(sort=True)  #counting different makes of cars

Volkswagen    6680
Opel          4576
Ford          4245
Skoda         2737
Renault       2659
              ...
Brilliance       1
Isuzu            1
Alpine           1
FISKER           1
Others           1
Name: make, Length: 71, dtype: int64

In [56]:
GermanCars2["fuel"].value_counts(sort=True)  #counting different types of fuels

Gasoline             27246
Diesel               14684
Electric/Gasoline     1039
Electric               639
CNG                    113
LPG                    109
Electric/Diesel         49
Others                  45
-/- (Fuel)              20
Ethanol                  2
Hydrogen                 1
Name: fuel, dtype: int64

In [58]:
GermanCars2["gear"].value_counts(sort=True)  #counting different types of transmission

Manual            28752
Automatic         15141
Semi-automatic       54
Name: gear, dtype: int64

In [65]:
GermanCars2.groupby("fuel")[["mileage","price"]].mean() #Grouping by fuel type for mileage and price

                         mileage         price
fuel
-/- (Fuel)          74904.250000  13064.900000
CNG                 81870.442478  12539.575221
Diesel             108821.448379  18075.120131
Electric            21766.264476  23330.940532
Electric/Diesel     55801.612245  36966.448980
Electric/Gasoline   28105.293551  30692.186718
Ethanol            180000.000000   3450.000000
Gasoline            55442.479593  15031.358915
Hydrogen            27000.000000  34990.000000
LPG                 96872.174312  11248.119266
Others              41360.622222  14603.466667

In [66]:
import numpy as np

In [67]:
GermanCars2.pivot_table(values="hp",index="fuel")

                           hp
fuel
-/- (Fuel)         129.850000
CNG                105.513274
Diesel             152.904931
Electric           129.070423
Electric/Diesel    213.918367
Electric/Gasoline  176.596728
Ethanol            122.500000
Gasoline           121.789584
Hydrogen           154.000000
LPG                115.798165
Others             108.466667

In [69]:
GermanCars2.pivot_table(values=["price","mileage"],index="gear") #Grouping by pivot table on tranmission type

                     mileage         price
gear
Automatic       64053.385047  28054.255399
Manual          76638.950090  10501.882269
Semi-automatic  84548.388889   8374.796296

In [70]:
GermanCars2.pivot_table(values=["price","mileage"],index="offerType") #Grouping by pivot table on offertype

                     mileage         price
offerType
Demonstration    7263.502691  35068.531390
Employee's car  10699.665741  30836.810185
New                44.000000  74875.363636
Pre-registered    166.737096  22399.141341
Used            81701.077192  14743.553290