In [1]:
#Importing data from a flat file (.csv)

In [11]:
import pandas as pd
import numpy as np
unicorns=pd.read_csv("Unicorn_Companies.csv",index_col=0)

In [3]:
print(unicorns.head())

           Valuation ($B) Date Joined        Country           City  \
Company
Bytedance            $140    4/7/2017          China        Beijing
SpaceX             $100.3   12/1/2012  United States      Hawthorne
Stripe                $95   1/23/2014  United States  San Francisco
Klarna              $45.6  12/12/2011         Sweden      Stockholm
Epic Games            $42  10/26/2018  United States           Cary

                           Industry  \
Company
Bytedance   Artificial intelligence
SpaceX                        Other
Stripe                      Fintech
Klarna                      Fintech
Epic Games                    Other

                                            Select Inverstors Founded Year  \
Company
Bytedance   Sequoia Capital China, SIG Asia Investments, S...         2012
SpaceX      Founders Fund, Draper Fisher Jurvetson, Rothen...         2002
Stripe            Khosla Ventures, LowercaseCapital, capitalG         2010
Klarna      Institutional Venture Partners, Sequoia Capita...         2005
Epic Games              Tencent Holdings, KKR, Smash Ventures         1991

           Total Raised Financial Stage Investors Count Deal Terms  \
Company
Bytedance        $7.44B             IPO              28          8
SpaceX          $6.874B            None              29         12
Stripe          $2.901B           Asset              39         12
Klarna          $3.472B        Acquired              56         13
Epic Games      $4.377B        Acquired              25          5

           Portfolio Exits
Company
Bytedance                5
SpaceX                None
Stripe                   1
Klarna                   1
Epic Games               2

In [4]:
unicorns.shape()

TypeError: 'tuple' object is not callable

In [5]:
print(unicorns.shape)

(1037, 12)

In [6]:
#Importing data from a flat file (.csv) Germany Car Dataset

In [7]:
GermanyCars=pd.read_csv("autoscout24-germany-car.csv",index_col=0)

In [8]:
#Checking the top rows of the data to understand
print(GermanyCars.head())

               make   model      fuel    gear offerType  price     hp  year
mileage
235000          BMW     316    Diesel  Manual      Used   6800  116.0  2011
92800    Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
149300         SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
96200       Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
156000      Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

In [9]:
# Checking the columns and rows of the data
print(GermanyCars.shape)

(46405, 8)

In [10]:
# Counting missing values
missing_values_count=GermanyCars.isnull().sum()
print(missing_values_count[0:7])

make           0
model        143
fuel           0
gear         182
offerType      0
price          0
hp            29
dtype: int64

In [12]:
#Dropping rows where Data is missing 
GermanyCarsDR=GermanyCars.dropna()
print(GermanyCars.shape,droprows.shape)

NameError: name 'droprows' is not defined

In [13]:
GermanyCarsDR=GermanyCars.dropna()
print(GermanyCars.shape,GermanyCarsDR.shape)

(46405, 8) (46071, 8)

In [14]:
GermanyCars_drop_duplicates=GermanyCarsDR.drop_duplicates()
print(GermanyCarsDR.shape,GermanyCars_drop_duplicates)

(46071, 8)                make   model               fuel    gear       offerType  price  \
mileage
235000          BMW     316             Diesel  Manual            Used   6800
92800    Volkswagen    Golf           Gasoline  Manual            Used   6877
149300         SEAT    Exeo           Gasoline  Manual            Used   6900
96200       Renault  Megane           Gasoline  Manual            Used   6950
156000      Peugeot     308           Gasoline  Manual            Used   6950
...             ...     ...                ...     ...             ...    ...
10          Citroen      C1           Gasoline  Manual  Pre-registered  12340
99             Fiat     500  Electric/Gasoline  Manual  Pre-registered  12490
550            Fiat     500  Electric/Gasoline  Manual   Demonstration  12805
837            Fiat   Panda  Electric/Gasoline  Manual   Demonstration  12805
1500          Skoda   Fabia           Gasoline  Manual   Demonstration  12980

            hp  year
mileage
235000   116.0  2011
92800    122.0  2011
149300   160.0  2011
96200    110.0  2011
156000   156.0  2011
...        ...   ...
10        72.0  2021
99        71.0  2021
550       69.0  2021
837       69.0  2021
1500      60.0  2021

[41295 rows x 8 columns]

In [15]:
print(GermanyCars_drop_duplicates.describe())

              price            hp          year
count  4.129500e+04  41295.000000  41295.000000
mean   1.686909e+04    135.835307   2015.903305
std    1.989230e+04     76.039887      3.122089
min    1.100000e+03      1.000000   2011.000000
25%    7.500000e+03     90.000000   2013.000000
50%    1.125000e+04    120.000000   2016.000000
75%    1.995000e+04    150.000000   2019.000000
max    1.199900e+06    850.000000   2021.000000

In [16]:
print(GermanyCars_drop_duplicates.head())

               make   model      fuel    gear offerType  price     hp  year
mileage
235000          BMW     316    Diesel  Manual      Used   6800  116.0  2011
92800    Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
149300         SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
96200       Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
156000      Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

In [17]:
print(GermanyCars_drop_duplicates.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41295 entries, 235000 to 1500
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   make       41295 non-null  object
 1   model      41295 non-null  object
 2   fuel       41295 non-null  object
 3   gear       41295 non-null  object
 4   offerType  41295 non-null  object
 5   price      41295 non-null  int64
 6   hp         41295 non-null  float64
 7   year       41295 non-null  int64
dtypes: float64(1), int64(2), object(5)
memory usage: 2.8+ MB
None