In [1]:
#Importing data from a flat file (.csv)

In [2]:
import pandas as pd
unicorns=pd.read_csv("Unicorn_Companies.csv",index_col=0)

In [3]:
print(unicorns.head())

           Valuation ($B) Date Joined        Country           City  \
Company
Bytedance            $140    4/7/2017          China        Beijing
SpaceX             $100.3   12/1/2012  United States      Hawthorne
Stripe                $95   1/23/2014  United States  San Francisco
Klarna              $45.6  12/12/2011         Sweden      Stockholm
Epic Games            $42  10/26/2018  United States           Cary

                           Industry  \
Company
Bytedance   Artificial intelligence
SpaceX                        Other
Stripe                      Fintech
Klarna                      Fintech
Epic Games                    Other

                                            Select Inverstors Founded Year  \
Company
Bytedance   Sequoia Capital China, SIG Asia Investments, S...         2012
SpaceX      Founders Fund, Draper Fisher Jurvetson, Rothen...         2002
Stripe            Khosla Ventures, LowercaseCapital, capitalG         2010
Klarna      Institutional Venture Partners, Sequoia Capita...         2005
Epic Games              Tencent Holdings, KKR, Smash Ventures         1991

           Total Raised Financial Stage Investors Count Deal Terms  \
Company
Bytedance        $7.44B             IPO              28          8
SpaceX          $6.874B            None              29         12
Stripe          $2.901B           Asset              39         12
Klarna          $3.472B        Acquired              56         13
Epic Games      $4.377B        Acquired              25          5

           Portfolio Exits
Company
Bytedance                5
SpaceX                None
Stripe                   1
Klarna                   1
Epic Games               2

In [4]:
unicorns.shape()

TypeError: 'tuple' object is not callable

In [5]:
print(unicorns.shape)

(1037, 12)